@charset "utf-8";

header {
    background-color: antiquewhite;
    height: 105px;
    margin-bottom: 60px;
    margin-top: -8px;
    margin-right: -9px;
    margin-left: -7px;
}

.flex-container {
    display: flex;
}

.flex-container h1 {
    font-size: 70px;
    margin-top: 5px;
    margin-right: 70px;
}

.flex-container p {
    font-size: 35px;
    margin-top: 35px;
    color:#666;
}

section h2 {
    text-align: center;
    font-size: 36px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 30px;
    margin-right: 60px;
    margin-left: 60px;
}

.grid-items {
    background-color: antiquewhite;
}


.grid-items:hover {
    transform: scale(1.1, 1.1);
}

footer p {
    float: right;
    margin-top: 100px;
}

footer a {
    text-decoration: none;
}

.slider {
    width: 70%;
    margin: 0 auto;
}

.slider img {
    width: 100%;
    height: 560px;
}

.slider .slick-slide {
    margin:0 auto;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    height: 15px;
    width: 15px;
}

.slick-prev {
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    right: -4.5%;
    transform: rotate(45deg);
}


.slick-dots {
    text-align: center;
    margin: 20px 0 0 0;
}

.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    background: #ccc;
}

.slick-dots .slick-active button {
    background: #333;
}
